@layout('layouts.app')

@section('content')

<h1> Login </h1>

<div>
    <form action="/user/login" method="POST">
        <label> EMAIL ID </label>
        <input type="email" placeholder="Email" name="email">
        <label> PASSWORD </label>
        <input type="password" placeholder="Password" name="password">
        <button> LOGIN </button>
    </form>
</div>

@endsection